body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin:  0 auto;
    max-width:  40em;
}
header, footer {   
    flex: 1 100%;
    background: #E6E6E6;
    color: #D78307;
    padding: 1.5em;
    text-align: center;
    font-size: 1.2em;
}
.flexcontainer {
	display: -webkit-flex;
   	display: flex;
   	-webkit-flex-direction: row;
   	flex-direction: row;
   	-webkit-flex-flow: wrap;
	flex-flow: wrap;
   	justify-content: space-around;
   	background-color:#1CAA93;
}
#team {
	flex:  2 100%;
	color:  #0B3861;
	text-align: center;	
	font-size: 1.2em;
}	


.details {
	color: #FFFFFF;	
	text-align: center;
}	


teamcontainer {
	display: -webkit-flex;
   	display: flex;
   	-webkit-flex-direction: row;
   	flex-direction: row;
}