body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin:  0 auto;
    max-width:  40em;
}
header, footer {   
    flex: 1 100%;
    background: #E6E6E6;
    color: #D78307;
    padding: 1.5em;
    text-align: center;
    font-size: 1.2em;
    min-height:  1.2em;
}
.flexcontainer {
	  display: -webkit-flex;
   	display: flex;
   	-webkit-flex-direction: row;
   	flex-direction: row;
   	-webkit-flex-flow: wrap;
	  flex-flow: wrap;
   	justify-content: space-around;
   	background-color:#4169A2;
}
#form {
  	width: 22em;
  	margin-top: 1em;
  	color:  white;
}
label {
  	float: right;
  	width: 20em;
  	padding:  1em;
}
input[type=text] {
    border: 1px solid #999;
    border-radius: 5px;
    float:  right;
  }
input[type=number] {
    border: 1px solid #999;
    border-radius: 5px;
    float:  right;
}
input:required:valid {
    border:  2px solid lightblue;
}
input:required:invalid, input:focus:invalid {
    border:  1px solid red;
}
#button {
  	color:  #4169A2;
  	float:  right;
  	margin:  1em;
  	width:  11em;
  	border-radius: 5px;
  	border:  1px solid black;
  	font-size: 1em;
}
