body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin:  0 auto;
    max-width:  60em;
    
   	
    /*font-size: 13px;*/ 

}

header {   
   
    background: #E6E6E6;
    color: #D78307;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}
footer {   
    width: 560px;
    background: #E6E6E6;
    color: #D78307;
    padding: 20px;
    text-align: center;
}


.flexcontainer {
	display: -webkit-flex;
   	display: flex;
   	-webkit-flex-direction: row;
   	flex-direction: row;
   	justify-content: space-around;
   	background-color:#1CAA93
   	/*padding-top: 25px;*/
}
#teamcontainer {
	display: -webkit-flex;
   	display: flex;
   	-webkit-flex-direction: row;
   	flex-direction: row;

}
#team {
	display:  inline;
	color:  #0B3861;
	text-align: center;
	margin-top: 0;
	border:  1px solid red;
}	
.teampicture {	
	border:  1px solid black;
}

.details {
	color: #FFFFFF;
	padding: 3px;
	height:30px;
	text-align: center;
}	
.info {


